/*****/
/*Built-in HTML tags*/
/*****/

/*controlling global settings*/
html {
    font-size: 1rem;
    scroll-behavior: smooth;
    cursor:default;
}

/*making the fixed nav that changes based on scrolling via a JS file*/
header {
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #f7b1ab;
    color: #482728;
    font-family: 'Bitter', serif;
    text-align: center;
    padding: 1em 5em;
    position: fixed;
    transition: 1s;
    z-index: 100;
    display: flex;
}

/*sets the basic colors and fonts used*/
body {
    background-color: #fbe4de;
    color: #2f4858;
    font-family: 'Lato', sans-serif;
    padding: 1em;
}

/*determines sizing and spacing of all the text portions*/
article {
    padding: .5em;
    text-indent: 2em;
    line-height: 1.75em;
    font-size: 1.05em;
    max-width: 45em;
    margin: auto;
}

/*title header size*/
h1 {
    font-size: 4em;
}

/*mid-size header indentation*/
h3 {
    text-indent: 0;
}

/*paragraph bottom margins to create some spacing without using line-height*/
p{
    margin-bottom: 3em;
}

/*to control the sizing of the svgs*/
svg {
    height: 50vh;
    width: 45vw;
    padding: 2vw;
}

/*****/
/*Classes*/
/*****/

/*a class inside of .explanation that is used for setting the text sizing and placement of the captions to the left of the different sections*/
.caption {
    position: fixed;
    top: 35%;
    left: 5%;
    max-width: 30%;
    line-height: 1.5em;
    text-indent: 2em;
}

/*positioning of the different charts*/
.section {
    display: flex;
    position: relative;
    left: 36%;
}

/*to hide captions*/
.caption.hidden {
    visibility: hidden;
}

/*needed to differentiate between visibility and display, so hidden is one and gone is the other*/
.hidden {
    visibility: hidden;
}

.gone {
    display: none;
}

/*this is used for text that gives instructions to users*/
.details {
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: .5em;
    text-indent: 0;
    line-height: 1.5em;
}

/*styling the last portion of the page*/
.credits {
    max-width: 30em;
    margin: auto;
    margin-top: 8em;
    padding: 2em;
    background-color: #2f4858;
    color: #fdf0e4;
    line-height: 2em;
}

/*color of links located in the final credits*/
.source {
    color: #f7b1ab;
}

/*changing the spacing in the last section*/
p.improving {
    margin-bottom: 1.5em;
}

/*for the lists in the second to last section*/
.caption li{
    text-indent: 0;
    margin-bottom:.5em;
    font-size:.75em;
}

/*****/
/*IDs*/
/*****/

/*for centering the header title*/
#title {
    margin: auto;
}

/*for setting the spacing of the top section*/
#intro {
    margin-top: 10em;
}

/*the 5th legend is shorter than the rest since it is not graphical and did not need to take the same amount of space*/
#legend5 {
    height: 60vh;
    align-items: center;
}

/* for a span to make sure the spanned text doesn't indent*/
#noIndent {
    text-indent: 0;
}

/*****/
/*Groups*/
/*****/

/*for the bar chart styling */
.bar-label {
    font-size: .75em
}

/*borrowed from https://codepen.io/iamraviteja/pen/bOragL*/
.bar-placeholder {
    display: none;
}

/*borrowed from https://codepen.io/iamraviteja/pen/bOragL*/
g.layer ~ g.layer .bar-placeholder {
    display: none;
}

/*tool tips, extra assistance from Greg Nemes*/
.ttip {
    position: fixed;
    background: #2f4858;
    z-index: 10;
    color: white;
    margin-top: -40px;
    visibility: visible;
    line-height: 1.15em;
    max-width: 12em;
    padding: 1em;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    pointer-events: none;
    font-size: .75em;
    width: fit-content;
}

.ttip.hidden {
    visibility: hidden;
}

/*menu controls*/
/*unordered list*/
ul {
    list-style: none;
    text-align: left;
}

#menu {
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: .5em;
    font-family: 'Lato', sans-serif;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/*menu list items*/
#menu li {
    margin: 1em;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: .5em;
    width: 150px;
    text-align: center;
}

/*menu link items*/
#menu a {
    color: white;
    text-decoration: none;

}

/*list links*/
li a {
    display: block;
}

/*list links to sources*/
li a.source {
    display:inline-block;
}

/*legends*/
/*the container for the legend column*/
.legend.container {
    height: 75vh;
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

/*the container for the legend itself */
.legend.ary {
    padding: 1vh;
    margin-top: 5vh;
    color: #482728;
    text-align: center;
    font-size: .75em;
}

/*the colored boxes that make the keys in the legend*/
div.key {
    margin-bottom: 1em;
    min-width: 5em;
}

/*the list items that make the labels in the legend*/
li.key {
    font-size: .75em;
    padding: 1em;
    list-style-type: none;
}

/*specifically legend4, to try and condense space*/
#legend4{
    margin:0;
    
}


/*quotes*/
/*sizing, positioning of the quotes area*/
#quotes-main {
    height: 60vh;
    width: 50vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*the quotes themselves*/
.topic {
    background-color: #f7b1ab;
    position: absolute;
    left: 13vw;
    max-width: 35vw;
    margin: auto;
    max-height: 60vh;
    color: #482728;
    padding: 2em;
    font-size: 1.15 em;
}

.topic.hidden {
    visibility: hidden;
}

/*buttons*/
button {
    border-radius: 40px;
    margin: .5em;
    padding: 2em;
    box-shadow: 0px 0px 15px 3px rgba(47, 72, 88, 0.20);
    background-color: #f4f5ff;
     text-transform: uppercase;
    letter-spacing: .12em;
    font-size: .5em;
    cursor: pointer;
    width: 15em;
    text-align: center;
}

/*https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome*/
button:focus {
    box-shadow: 0px 0px 15px 3px rgba(47, 72, 88, 0);
  background-color: #9B8989;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    outline: 0;
    color:white;

}

/*the buttons when hovered on*/
button:hover {
    background: #d8dcff;
    color:#2f4858;
}

/*the map buttons*/
.buttons {
    display: flex;
    flex-direction: column;
    top: 0;
    background: transparent;
    margin-bottom:0;
}

/*the quote buttons*/
.quoteBtn {
    background: #f4f5ff;
    padding: 1em;
    border: .25em solid #d8dcff;
    color: #2f4858;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-size: .5em;
    border-radius: 3px;
    margin: 0;
    box-shadow: 0px 0px 15px 3px rgba(47, 72, 88, 0);
    line-height: 2em;
}

/*the quote buttons when clicked on*/
.quoteBtn:focus {
    background: #9B8989;
}

/*the quote buttons when hovered over*/
.quoteBtn:hover {
    background: #d8dcff;
    color: #2f4858;
}


/*the buttons in the last paragraph that lead to external links*/
.extLink{
    width: auto;
    text-decoration: none;
    line-height: 1.75em;
    border-width: 1px;
    border-radius: 3px;
    padding: 1.5em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5em;
    display:flex;
    justify-content: center;
}

/*the links inside the aforementioned buttons*/
.extLink a{
    text-decoration-line: none;
    color: #ee6c4d;
}

.extLink:hover{
/*    text-decoration-line: none;*/
   box-shadow: 0 0 0 0;
    border-width: 2px;
    border-color:white;
   background-color: #d8dcff;
    
}

/* additional text in the quote buttons*/
span.btn{
    border: none;
    color: white;
}

/*http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css*/
/*takes the target of the link and offsets it so that the automatic scroll goes to the correct spot*/
:target {
    display:block;
    position: relative;
    top:-10vh;
    visibility: hidden;
}