
body {
/*    margin: 0 auto;*/

}
/*

.html{
    font-size:1em;
}
*/
.title {
    font-size: 5em;
}


.layout {
/*    display: flex;*/
}

.text {
/*    display: block;*/
}

.intro {
    padding-top: 5em;
}

.caption.hidden {
    visibility: hidden;
}

div.bar{
    display: inline-block;
    width: 20px;
/*    height: 75px;*/
    background-color: coral;
}

.hidden {
    visibility: hidden;
}

div{
    display:inline-block;
    width: 100%;
}
/*borrowed from https://codepen.io/iamraviteja/pen/bOragL*/
.bar-placeholder {
  display:none;
}

/*
text {
  text-anchor: middle;
  fill: #333;
  font-size: 10px;
}
*/

/*borrowed from https://codepen.io/iamraviteja/pen/bOragL*/
g.layer ~ g.layer .bar-placeholder {
  display: none;
}

.chart{
    width: 60%;
    height: 40%;
    position: relative;
/*    background-color: aqua;*/
}

.caption {
    visibility: visible;
    position: fixed;
    top: 30%;
    left: 80%;
    margin-right: 2em;
/*    width: 25%;*/
}

.colorPos {
    background-color: #EE8695;
}

.colorMid {
    background-color: #A73B8F;
    color: white;
}

.colorNeg {
    background-color: #501A73;
    color: white;
}

.nothing {
    background-color: #C5DBD7;
}

path:hover {
    fill-opacity: .8;
}


.sections {
/*    width: 75%;*/
    display: block;
/*    flex-direction: column;*/
/*    left: 0;*/
}

h1 {
    display: block;
    top: 0;
    font-size: 2em;
/*    background-color: aquamarine;*/
}

svg {
/*    display: inline-block;*/
/*    background-color: aqua;*/
/*    border: solid;*/
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}


.step {
/*    background-color: purple;*/
    padding: 0;
    
/*
    margin-top: 0;
    margin-bottom: 0;
*/
}

.explanation {
/*    background-color: darksalmon;*/
}


.ttip {
    position: fixed;
    background: black;
    z-index: 10;
    color: white;
    margin-top: -40px;
    visibility: visible;
    line-height: 1;
    font-weight: bold;
    padding: 1em;
    font-size: 1em;
    border-radius: 2px;
    pointer-events: none;
    font-size: 1.3vw;
    width: fit-content;
}

.ttip.hidden {
    visibility: hidden;
}

.topic {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#quotes-main {
position:relative;
}

/*
@media screen and (max-width: 15em){
    .ttip{
        font-size: 10vw;
    }
}
*/

@media screen and (max-width: 35em){
    .ttip{
        font-size: 3vw;
    }
}

@media screen and (max-width: 55em){
    .ttip{
        font-size: 2vw;
    }
}