body {
    margin: 0 auto;
    
}

.title{
    font-size: 5em;
}


.layout {
    display: flex;
/*    justify-content: center;*/
    border-style: solid;
    border-color: hotpink;
}

.text {
/*    display: inline-flex;*/
    background-color: aqua;
    display: block;
    width: 35%;
    
    
    
}

/*
path:hover {
    fill-opacity: .8;
}
*/

/*
.step {
    opacity: 0;
}
*/

.maps {
/*    float: left;*/
    border-style: solid;
    border-color: darkcyan;
    width: 75%;
    display: block;
    flex-direction: column;
    background-color: black;
    left: 0;
    right
}

svg {
    background-color: aliceblue;
}

.explanation {
/*    opacity: 0;*/
    background-color: darksalmon;
/*    position: sticky;*/
}

.caption {
    position:fixed;
    
}